.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.temporizador {
background-color: #eee;
padding: 1%;
text-align:center;
border-radius: 2rem;
width: 12rem;
}
.nav-fijo{
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1;
}

[data-title]:hover:after {
    opacity: 1;
    visibility: visible;
}
.border-boton{
  box-shadow: 0 0 0 3px #dd7f78;
}
.bi bi-trash-fill :hover {
  fill: white;
}

.tabs{
  width: 50%;
  text-align: center;
  margin-bottom: 5px;

}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background-color: #0d6efd;
  color: white;

}
.nav-link{
  cursor: pointer;
}
.padin{
  padding-top: 5rem; 
  padding-bottom: 1rem;
}
.fijo{
  overflow-y: scroll;
  width: 100vw;
  height: 100vh;
}
.fijo::-webkit-scrollbar { 
  /* solo oculta su visualizacion */
  display: none;
}
.check-estado {
  height: 3em !important;
  width: 8em !important;
}
.check-usuario {
  height: 2em !important;
  width: 5em !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }

.input-group .form-control.is-invalid, .input-group .form-select.is-invalid, .was-validated .input-group .form-control:invalid, .was-validated .input-group .form-select:invalid {
  z-index: auto;
}

.input-group .form-control.is-valid, .input-group .form-select.is-valid, .was-validated .input-group .form-control:valid, .was-validated .input-group .form-select:valid {
  z-index: auto;
}
